.dawid {

	background-color: blue;
	width: 100px;
	height: 100px;
}

.tomek {

	background-color: pink;
	width: 100px;
	height: 100px;
}

.bartek {

	background-color: red;
	width: 100px;
	height: 100px;
}

.k {
	background-color: orangered;
  display: flex;
  flex-direction: row;
}
