body {background-color: rgb(212, 194, 194);}

.formularz {
    background-size: cover;
    background-position:center;
    width:300px;
    height:300px;
    resize: both;
    overflow: auto;
 
    
    background-image: url("/KANTOR/111.JPG");
text-indent: 20%;}

.glowna {display: flex;}

.kolumna {background-color: red;
margin: 10px;


}


.glowna {display: flex;}
@media (max-width:767px) {
    .glowna {flex-wrap: wrap;}
}

@media (max-width:767px) {
    .kolumna {flex-basis: 34%;
    flex-grow: 1;}
}

@media (max-width:500px) {
    .kolumna {flex-basis: 51%;
    flex-grow: 1;}
}